* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    /* padding: 1 rem; */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 0rem;
}

main {
    padding: 1rem;
    text-align: center;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.result {
    flex: 1 1 250px;
}

button {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#logo{
    width: 6rem;
    height: 6rem;
}

#map {
    align-items: center;
    height: 400px; /* set height to 400 pixels */
    width: 600px; /* set width to 600 pixels */
  }
  
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 50px; /* set left position to 50 pixels */
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }

  .map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#best-savings{
    list-style-type: none;
}